
body {
  overflow-x: hidden;
  background-color: #100c08;
  padding: 0;
  margin: 0;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-size: 20px;
}
button {
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #3e8e41;
}
@media screen and (max-width: 600px) {
  input[type="text"], select, button {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
  }
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  padding: 20px;
  border-style: solid;
  margin-top: 20px;
  transform: translateX(400%);
  transition: transform 0.7s ease;
}

.card:nth-of-type(even) {
  transform: translateX(-400%);
}

.card.show {
  transform: translateX(0);
}

.card-info {
  width: 100%;
}

.card-info h2 {
  margin-top: 0;
}

@media only screen and (max-width: 768px) {
  .card {
    flex-direction: column;
    align-items: stretch;
    max-width: 90%;
  }

  .card-info {
    margin: auto;
  }
}
