{% extends "base.html" %}


{% block title %}Find similar film{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="/static/css/admin.css" />
{% endblock %}


{% block content %}

<div class="px-4 py-5 my-5 text-center text-light">
    <h1 class="display-5 fw-bold">Admin dashboard</h1>
</div>


<table class="table table-dark">
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Email</td>
        <td>Date created</td>
        <td>Delete User</td>
        <td>Send message</td>
    </tr>
    {% for user in available_users %}
    <tr>
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.date_created}}</td>
        <td>
            <form action="{{ url_for('auth.delete_user', id=user.id) }}" method="POST">
                <button class="btn btn-danger" type="submit">Delete user</button>
            </form>
        </td>
        <td>
            <form action="{{ url_for('auth.send_message', id=user.id) }}" method="POST">
                <input type="text" name="message">
                <button class="btn btn-success" type="submit">Send message</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>


{% endblock %}