{% extends "base.html" %}


{% block title %}Find similar film{% endblock %}

{% block style %}

{% endblock %}


{% block content %}

<h1>Admin dashboard</h1>

<h2>Posts</h2>
<a href="/create/post">Create a new post</a>
<table>
    <tr>
        <td>Title</td>
        <td>Delete</td>
    </tr>
    {% for post in posts %}
    <tr>
        <td><h2>{{post.title}}</h2></td>
        <td>
            <form action="{{ url_for('views.delete_post', id=post.id) }}" method="POST">
                <button type="submit">Delete post</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

<h2>Category</h2>
<a href="/create/category">Create a new category</a>
<table>
    <tr>
        <td>Name</td>
        <td>Delete</td>
    </tr>
    {% for category in categories %}
    <tr>
        <td><h2>{{category.name}}</h2></td>
        <td>
            <form action="{{ url_for('views.delete_category', id=category.id) }}" method="POST">
                <button type="submit">Delete category</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>


<h2>Users</h2>
<table>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Email</td>
        <td>Date created</td>
        <td>Delete User</td>
        <td>Send message</td>
    </tr>
    {% for user in available_users %}
    <tr>
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.date_created}}</td>
        <td>
            <form action="{{ url_for('auth.delete_user', id=user.id) }}" method="POST">
                <button type="submit">Delete user</button>
            </form>
        </td>
        <td>
            <form action="{{ url_for('auth.send_message', id=user.id) }}" method="POST">
                <input type="text" name="message">
                <button type="submit">Send message</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>


{% endblock %}