{% extends "base.html" %}

{% block title %} Blog {% endblock %}

{% block script %}
    <script src="/static/js/card_animation.js" defer></script>
{% endblock %}


{% block style %}
    <link rel="stylesheet" type="text/css" href="/static/css/blog.css" />
{% endblock %}

{% block content %}


<div class="container">
    <form action="{{url_for('views.search_post') }}" method="POST">
        <input type="text" id="query" name="query">
        <button type="submit">Search</button>
    </form>
</div>


{% if posts %}
    {% for post in posts %}
    <div class="card">
        <div class="card-info">
            <h2>{{post.title}}</h2>
            <span>{{post.category.name}}</span>
            <span>({{post.date_create}})</span>
            <p>{{post.content}}</p>
        </div>
    </div>
    {% endfor %}
{% endif %}

{% endblock %}
