{% extends "base.html" %}


{% block title %}Find similar film{% endblock %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="/static/css/home.css" />
{% endblock %}


{% block content %}
<div class="header">
  <h1>Find similar movie to:</h1>
</div>

<form method="post">
  <input type="text" id="title" name="title">
  <button type="submit">Search</button>

  <select name="type" id="type">
    <option value="movie">Movie</option>
    <option value="tv">Tv Show</option>
  </select>

</form>

{% endblock %}