{% extends "base.html" %}

{% block title %} Similar movies to {{movie_name}} {% endblock %}

{% block script %}
    <script src="/static/js/card_animation.js" defer></script>
{% endblock %}


{% block style %}
    <link rel="stylesheet" type="text/css" href="/static/css/cards.css" />
{% endblock %}

{% block content %}

{% if return_similar_shows %}
<div class="px-4 py-5 my-5 text-center text-light">
    <h1 class="display-5 fw-bold" style="text-transform: uppercase">{{show_type}} similar to "{{title}}"</h1>
</div>



    {% for show in return_similar_shows %}
        <div class="card">
            <img src="https://image.tmdb.org/t/p/w500/{{show.poster}}"/>
            <div class="card-info">
                <a href="{{ url_for('views.show_videos', show_id=show.id) }}">
                    <h2>{{show.title}}
                <span>({{show.release_date}})</span>
                </h2></a>
                <p>{{show.overview}}</p>

                <div class="d-flex align-items-center">
                    <form action="{{ url_for('views.save_show') }}" method="POST">
                        <input type="hidden" name="title" value="{{ show.title }} ({{show.release_date}})">
                        <input type="hidden" name="poster" value="{{show.poster}}">
                        <button type="submit" class="btn btn-success" style="margin-right: 10px;">Watch Later</button>
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    </form>

                    <form action="{{ url_for('views.save_watched_show') }}" method="POST">
                        <input type="hidden" name="title" value="{{ show.title }} ({{show.release_date}})">
                        <input type="hidden" name="poster" value="{{show.poster}}">
                        <button type="submit" class="btn btn-primary mr-2">Already Watched</button>
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
<div class="px-4 py-5 my-5 text-center text-light">
    <h1 class="display-5 fw-bold">There is no similar movies/tv shows to {{title}}</h1>
</div>
{% endif %}


{% endblock %}
