{% extends "base.html" %}

{% block title %} Similar movies to {{movie_name}} {% endblock %}

{% block script %}
    <script src="/static/js/list_similar_movie.js" defer></script>
{% endblock %}


{% block style %}
    <link rel="stylesheet" type="text/css" href="/static/css/list_similar_movie.css" />
{% endblock %}

{% block content %}

<div class="header">
  <h1>Movies similar to {{movie_name}}</h1>
</div>

{% for movie in return_similar_movies %}
    <div class="card">
        <img src="https://image.tmdb.org/t/p/w500/{{movie.poster}}"/>
        <div class="card-info">
            <h2>{{movie.title}}
            <span>({{movie.release_date}})</span>
            </h2>

            <p>{{movie.overview}}</p>
        </div>
    </div>
{% endfor %}
{% endblock %}
