{% extends "base.html" %}


{% block title %}Find similar film{% endblock %}

{% block style %}

{% endblock %}


{% block content %}
<form method="POST">
  <h3>Login</h3>
  <label for="email">Email</label>
  <input type="text" id="email" name="email" class="form-control">
  <label for="password">Password</label>
  <input type="password" id="password" name="password" class="form-control">
  <button type="submit">Login</button>
</form>

{% for message in get_flashed_messages() %}
    {{ message }}
{% endfor %}


{% endblock %}