{% extends "base.html" %}


{% block title %}Find similar film{% endblock %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="/static/css/login.css" />
{% endblock %}


{% block content %}

<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">Please enter your email and password!</p>

              <form method="post">
                <div class="form-outline form-white mb-4">
                  <input type="email" id="emailUser" name="emailUser" class="form-control form-control-lg" />
                  <label class="form-label" for="emailUser">Email</label>
                </div>

                <div class="form-outline form-white mb-4">
                  <input type="password" id="passwordUser" name="passwordUser" class="form-control form-control-lg" />
                  <label class="form-label" for="passwordUser">Password</label>
                </div>

                <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              </form>
            </div>

            <div>
              <p class="mb-0">Don't have an account? <a href="/signup" class="text-white-50 fw-bold">Sign Up</a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}