{% extends "base.html" %}


{% block title %}Find similar film{% endblock %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="/static/css/profile.css" />
{% endblock %}

{% block script %}
    <script src="/static/js/card_animation.js" defer></script>
{% endblock %}

{% block content %}

<div class="header">
    <h1 class="header-title">Hello {{user.username}} this is yours saved movies  </h1>
</div>

{% for show in saved_shows %}
    <div class="card">
        <img src="https://image.tmdb.org/t/p/w500/{{show.image_url}}"/>
        <div class="card-info">
            <h2>{{show.title}}</h2>

            <form action="{{ url_for('views.delete_show', id=show.id) }}" method="POST">
                <input type="hidden" name="title" value="{{ show.title }} ({{show.release_date}})">
                <input type="hidden" name="poster" value="{{show.poster}}">
                <button type="submit">Delete from Watch later</button>
            </form>

        </div>
    </div>
{% endfor %}



{% endblock %}