{% extends "base.html" %}


{% block title %}Find similar film{% endblock %}

{% block style %}
<style>
    body {
        background-color: #100c08;
     }
</style>
{% endblock %}


{% block content %}


<div class="container">
    <div class="px-4 py-2 my-3 text-center text-dark">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><strong>Welcome, {{user.username}}!</strong></h4>
              {% if user.country %}
              <p class="card-text"><strong>Country</strong>: {{user.country}}</p>
              {% endif %}
              {% if user.bio %}
            <p class="card-text">{{user.bio}}</p>
              {% endif %}
            <a href="profile/details" class="btn btn-primary">Edit your profile</a>
          </div>
        </div>
    </div>
</div>

<div class="px-4 py-2 my-3 text-center text-light">
    <h1 class="display-6 fw-bold">Watch Later</h1>
</div>


{% if saved_shows %}
<div class="row justify-content-center text-light">
    <div class="col-auto">
        <div class="table-responsive">
            <table class="table-sm border border-secondary">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Title</th>
                        <th scope="col">Operation</th>
                    </tr>
                </thead>
                <tbody>
                {% for show in saved_shows %}
                    <tr>
                        <th><img class="rounded float-left" style="width:150px;height:200px;" src="https://image.tmdb.org/t/p/w500/{{show.image_url}}"/></th>
                        <th><h4>{{show.title}}</h4></th>
                        <th>
                            <form action="{{ url_for('views.delete_show', show_id=show.id) }}" method="POST">
                                <input type="hidden" name="title" value="{{ show.title }} ({{show.release_date}})">
                                <input type="hidden" name="poster" value="{{show.poster}}">
                                <button type="submit" class="btn btn-danger">Delete from Watch Later</button>
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            </form>
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% else %}
<div class="row justify-content-center text-light">
    <div class="col-auto">
        <div class="table-responsive">
            <table class="table-sm border border-secondary">
                <thead>
                    <tr>
                        <h1>You don't have any saved movies</h1>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
{% endif %}



<div class="px-4 py-2 my-3 text-center text-light">
    <h1 class="display-6 fw-bold">Watch History</h1>
</div>

{% if watched_shows %}
<div class="row justify-content-center text-light">
    <div class="col-auto">
        <div class="table-responsive">
            <table class="table-sm border border-secondary">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Title</th>
                        <th scope="col">Operation</th>
                    </tr>
                </thead>
                <tbody>
                {% for show in watched_shows %}
                    <tr>
                        <th><img class="rounded float-left" style="width:150px;height:200px;" src="https://image.tmdb.org/t/p/w500/{{show.image_url}}"/></th>
                        <th><h4>{{show.title}}</h4></th>
                        <th>
                            <form action="{{ url_for('views.delete_watched_show', show_id=show.id) }}" method="POST">
                                <input type="hidden" name="title" value="{{ show.title }} ({{show.release_date}})">
                                <input type="hidden" name="poster" value="{{show.poster}}">
                                <button type="submit" class="btn btn-danger">Delete from Watch Later</button>
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            </form>
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% else %}
<div class="row justify-content-center text-light">
    <div class="col-auto">
        <div class="table-responsive">
            <table class="table-sm border border-secondary">
                <thead>
                    <tr>
                        <h1>You don't have any saved movies</h1>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}