{% extends "base.html" %}


{% block title %}Find similar film{% endblock %}

{% block style %}

{% endblock %}


{% block content %}
<h3>Sign Up</h3>
<form method="POST">
    <label for="email">Email</label>
    <input type="text" id="email" name="email">
    <label for="username">Username</label>
    <input type="text" id="username" name="username">
    <label for="password1">Password</label>
    <input type="password" id="password1" name="password1">
    <label for="password2">Repeat password</label>
    <input type="password" id="password2" name="password2">
    <button type="submit">Sign Up</button>
</form>

{% endblock %}