{% extends "base.html" %}


{% block title %}Find similar film{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="/static/css/admin.css" />
{% endblock %}


{% block content %}

<div class="px-4 py-5 my-5 text-center text-light">
    <h1 class="display-5 fw-bold">Information about {{user_info.username}} </h1>
</div>

<div class="table-responsive">
    <table class="table table-dark">
        <thead>
        <tr>
            <td><h3>Saved Movies</h3></td>
        </tr>
        </thead>
        <tbody>
        {% if user_saved_shows %}
            {% for user_shows in user_saved_shows %}
            <tr>
                <td>{{user_shows.title}}</td>
            </tr>
            {% endfor %}
        {% else %}
        <tr>
            <td>This user doesn't have any saved movies</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>


<div class="table-responsive">
    <table class="table table-dark">
        <thead>
        <tr>
            <td><h3>Watched Movies</h3></td>
        </tr>
        </thead>
        <tbody>
        {% if user_watched_shows %}
            {% for user_shows in user_watched_shows %}
            <tr>
                <td>{{user_shows.title}}</td>
            </tr>
            {% endfor %}
        {% else %}
        <tr>
            <td>This user doesn't have any watched movies</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>





<div style="margin-bottom: 50px;"></div>
{% endblock %}