{% extends "base.html" %}


{% block title %}Find similar film{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="/static/css/admin.css" />
{% endblock %}


{% block content %}

<div class="px-4 py-5 my-5 text-center text-light">
    <h1 class="display-5 fw-bold">Information about {{user_info.username}} </h1>
    <p><strong>Email:</strong> {{user_info.email}}</p>
    <p><strong>Username:</strong> {{user_info.username}}</p>
    {% if user_info.country %}
    <p><strong>Country:</strong> {{user_info.country}}</p>
    {% else %}
    <p><strong>Country:</strong> None</p>
    {% endif %}
    {% if user_info.bio %}
    <p><strong>Bio:</strong> {{user_info.bio}}</p>
    {% else %}
    <p><strong>Bio:</strong> None</p>
    {% endif %}
</div>

<div class="row justify-content-center text-light">
    <div class="col-auto">
        <div class="table-responsive">
            <table class="table-sm border border-secondary">
                <thead>
                <tr>
                    <td><h3>Saved Movies</h3></td>
                </tr>
                </thead>
                <tbody>
                {% if user_saved_shows %}
                    {% for user_shows in user_saved_shows %}
                    <tr>
                        <td>{{user_shows.title}}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td>This user doesn't have any saved movies</td>
                </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div style="margin-bottom: 50px;"></div>

<div class="row justify-content-center text-light">
    <div class="col-auto">
        <div class="table-responsive">
            <table class="table-sm border border-secondary">
                <thead>
                <tr>
                    <td><h3>Watched Movies</h3></td>
                </tr>
                </thead>
                <tbody>
                {% if user_watched_shows %}
                    {% for user_shows in user_watched_shows %}
                    <tr>
                        <td>{{user_shows.title}}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td>This user doesn't have any watched movies</td>
                </tr>
                {% endif %}
                </tbody>
            </table>
          </div>
    </div>
</div>





<div style="margin-bottom: 50px;"></div>
{% endblock %}